.isactive {
  padding: 3rem 5px 5px 5px;
  width: 18%;
  border-right: 2px solid rgb(170, 168, 168);
}
.sidebar-btn:focus,
.sidebar-btn:focus-visible {
  outline: none;
}
.custom-link {
  color: inherit;
  text-decoration: none;
}
.sidebar-btn:hover {
  border: none;
}
.admin-sidebar {
  width: 100%;
  // max-width: min-content;
  height: 100vh;
  font-weight: 500;
  opacity: 5;
  z-index: 1;
  dt {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 1.2rem;
    cursor: pointer;
  }
  dd {
    cursor: pointer;
    margin: 0rem 0 1rem 0;
    padding-left: 2rem;
  }
  .active {
    background-color: aquamarine;
  }
}
.sidebar-btn {
  display: none;
  padding: 20px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}
@media screen and (max-width: 765px) {
  .isactive {
    width: fit-content;
    height: fit-content;
}
  .admin-sidebar {
    width: min-content;
    display: none;
  }
  .sidebar-btn {
    display: inline;
    // position: absolute;
    // top: 3rem;
  }
  .responsive_sidebar {
    display: block;
    // position: fixed;
    // transform: translatex(1%);
  }
  .sidebar-close-btn {
    position: absolute;
    top: 3rem;
    left: 5rem;
  }
}
@media screen and (min-width: 765px) {
  .isactive-bigger{
    padding: 3rem 5px 5px 5px;
  width: 18%;
  border-right: 2px solid rgb(170, 168, 168);
  }
}
// @media screen and (min-width: 765px) {
//   .sidebar-close-btn {
//     display: none;
//   }
// }
