.notebook-container {
    position: relative;
    top: 4rem;
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    color: black !important;
    margin: auto;
  
    @media screen and (max-width: 1080px){
      .upper-panel,
      .select-group,
      .from-my-perspective {
        flex-direction: column;
        width: 100%;
      }
    }
  }
  
  .notebook-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .upper-panel {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
  
    @media screen and (max-width: 1080px) {
      flex-direction: column;
    }
  }
  
  .left-table,
  .summary-box {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .lessons-to-review {
    margin-right: 20px;
  }
  
  .summary-box {
    display: flex;
    flex-direction: row;
  }
  
  .summary {
    flex: 1;
    margin-right: 20px;
  }
  
  .mic-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .lower-panel{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
  }
  .select-group,
  .from-my-perspective {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  
    th,
    td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: left;
    }
  }
  
  textarea {
    width: 100%;
    height: 140px;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .mic-icon {
    width: 3rem;
    height: 3rem;
    background: url("mic-icon.png") no-repeat center center;
    background-size: contain;
  }
  
  .mic-btn {
    margin-top: 5px;
    padding: 5px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
  
    &:hover {
      background-color: #0056b3;
    }
  }
  