.teacher-home {
  color: #c7c5c5;
  margin: 1.5%;
  width: 95vw;
  background-color: white;
  font-weight: 800;

.main {
  background-color: white;
  margin: 5em 0.5em;
  width: 100%;
  h2 {
    color: black;
  }
}

.part1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 3em 0em;
  button {
    color: blue;
    /* font-size: large; */
    font-weight: bold;
    background-color: white;
    border: 1px solid;
    border-radius: 11px;
    padding: 0 1rem;
    max-height: 5em;
    cursor: pointer;
  }
  .teacher-cards {
    display: flex;
    justify-content: space-between;
    // width: 70%;
    .teacher-card {
      border: 2px solid rgba(20, 19, 19, 0.671);
      height: 8em;
      width: 25%;
      border-radius: 4%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
    }
  }
}

.part2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  .teacher-lesson {
    color: rgba(2, 72, 129, 0.877);
    font-style: italic;
  }
  .lesson-table{
    color: #585656;
    margin-top: 15px;
    button{
      background-color: white;
      color: #585656;
      border: 1px black solid;
      border-radius: 10px;
      padding: 2px;
      cursor: pointer;
    }
    button:hover{
      background: blue;
      color: aliceblue;
    }
  }
}

@media (max-width: 600px) {
  .part1 {
    flex-direction: column-reverse;
    gap: 2rem;
    button {
      max-width: 11em;
      padding: 1rem 0rem;
    }
  }
  .teacher-cards {
    width: 100%;
  }
}
@media (min-width: 601px) {
  .teacher-cards {
    width: 70%;
  }
}
}