.container {
  padding: 20px;
  width: 90vw;
  margin: 0 auto;
  color: #333;
  position: relative;
  top: 3rem;
  height: 90%;
}

.class-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  section {
    display: flex;
  }
  button {
    margin: 0em 4em;
    background: darkblue;
    height: 2.5em;
    border-radius: 8px;
    border: none;
    // button:hover{
    //   background: #ccc;
    // }
  }
  .header-sec1 {
    width: 100%;
    align-items: baseline;
  }
  .header-sec2 {
    max-width: fit-content;
    flex-direction: column;
    label {
      font-size: 15px;
    }
    #class-select {
      background-color: white;
      cursor: all-scroll;
      padding: 0.5em 2em;
      border-width: 1px solid black;
      border-radius: 5px;
      color: black;
    }
  }
}

.part-1 {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  .headings {
    display: flex;
    align-items: center;
    grid-area: 1/1/1/4;
  }
  .left-pane {
    grid-area: 2/1/3/2;
  }
  .right-pane {
    grid-area: 2/3/3/4;
    display: flex;
    justify-content: end;
  }
  .right-link{
    width: 100%;
   
  }
  .buttons {
    grid-area: 3/1/4/2;
    button {
      margin: 3px 5px;
      padding: 10px;
      border: 1px solid black;
      background-color: white;
      color: black;
      border-radius: 5px;
      cursor: pointer;
      &:hover {
        background-color: #307b85;
      }
    }
  }
  .card {
   
    background-color: white;
    width: 85% !important;
    height: 9rem;
    border: 1.5px solid #2a2828;
    border-radius: 5px;
    
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .home-text {
    background-color: white;
    width: 80%;
    height: 9rem;
    border: 1.5px solid #2a2828;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 1.2rem;
  }
}

.part-2 {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  .search-box1 {
    grid-area: 1/1/2/4;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .text-area1 {
    grid-area: 2 / 1 / 3 / 4;
    max-width: 100%;
    textarea {
      width: 100%;
      color: black;
      height: 10em;
      border-radius: 5px;
      border: 1px solid grey;
    }
  }
  .search-box2 {
    grid-area: 4/1/5/4;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  .text-area2 {
    grid-area: 5 / 1 / 6 / 4;
    max-width: 100%;
    textarea {
      width: 100%;
      color: black;
      height: 10em;
      border-radius: 5px;
      border: 1px solid grey;
    }
  }
  .search-container{
    input {
      background-color: white;
      width: 100%;
      color: black;
      height: 2em;
      border-radius: 5px;
      border: 1px solid grey;
    }
  }
  .radio-buttons {
    grid-area: 2 / 4 / 3 / 5;
    display: flex;
    flex-direction: column;
    padding: 7px;
    label {
      margin: 0 10px;
    }
  }
}

// h2,
// h5 {
//   text-align: left;
//   padding: 0;
//   margin: 0;
// }

// .section {
//   display: flex;
//   justify-content: space-evenly;
//   margin-bottom: 10px;
//   height: 40%;
// }

// .left-pane,
// .right-pane,
// .center-pane {
//   width: 30%;
//   background-color: #fff;
//   padding: 20px;
//   border-radius: 10px;
//   // box-shadow: 0 0 10px rgba(0,0,0,0.1);
// }

// .left-pane,
// .right-pane {
//   width: 30%;
// }

// .center-pane {
//   width: 20%;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

// .home-text {
//   color: #333;
//   background-color: white;
//   width: 100% !important;
//   height: 150px;
//   padding: 10px;
//   border: 1px solid #ddd;
//   border-radius: 5px;
//   margin-bottom: 10px;
//   font-weight: 400;
// }

// .buttons {
//   display: flex;
//   justify-content: space-between;
// }

// .buttons button {
//   flex: 1;
//   margin: 3px 5px;
//   padding: 10px;
//   border: none;
//   background-color: #007bff;
//   color: #fff;
//   border-radius: 5px;
//   cursor: pointer;
// }

// .buttons button:hover {
//   background-color: #0056b3;
// }

// .create-lesson {
//   width: 100%;
//   padding: 20px;
//   border: none;
//   background-color: #007bff;
//   color: #fff;
//   border-radius: 10px;
//   cursor: pointer;
//   font-size: 18px;
// }

// .create-lesson:hover {
//   background-color: #0056b3;
// }

.mic-icon {
  width: 2.5rem;
  height: 2.5rem;
  background: url("mic-icon.png") no-repeat center center;
  background-size: contain;
}

// .right-pane{
//   position: relative;
//   top: 4rem;
// }

// .search-container {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 10px;
//   width: 70%;
// }

// .radio-buttons {
//   display: flex;
//   justify-content: center;
// }

// .section-2{
//     position: relative;
//     left: 4%;
//     width: 50%;
//     height: 40%;
//     display: flex;
//     flex-direction: column;
//     .search-box{
//         display: flex;
//         flex-direction: row;
//         justify-content: space-between;
//     }
//     .search-container input {
//         width: 100%;
//         padding: 10px;
//         border: 1px solid #ddd;
//         border-radius: 5px;
//       }
//     .radio-buttons{
//         // border: 2px solid red;
//         width: 20%;
//         display: flex;
//         flex-direction: column;
//         text-align: left !important;
//         input{
//             width: 2rem !important;
//         }
//         label{
//             width: 7rem;
//         }
//     }
// }

// @media screen and (max-width: 1024px) and (min-width: 481px){
//     .section,.section-2{
//         flex-wrap: wrap;
//     }
//     .section-2{
//       width: 80%;
//     }
//     .right-pane{
//       top: 30px;
//     }
//     .mic-icon{
//       width: 7rem;
//       height: 7rem;
//     }
//     .buttons{
//       flex-direction: column;
//       width: 100%;
//     }
// }

@media screen and (width<= 600px) {
  .header-sec1 {
    align-items: start;
    flex-direction: column;
    button {
      width: 7em;
      margin: 2em 0;
      height: 2.5em;
    }
  }
  .search-box1,
  .search-box2 {
    flex-direction: column;
    margin-bottom: 5px;
  }
}
